@import '../../App-variables.css';

.metronome {
  color: var(--secondary-color);
  font-size: 24px;
  letter-spacing: 1.33px;
  width: 132px;
  height: 132px;
  min-height: 132px;
  min-width: 132px;
  background-color: #64bca4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 67px auto;
	box-shadow: 0 0 0 0 rgba(100, 188, 164, 1);
	transform: scale(1);
	animation: pulse var(--pulse-rate) ease-out infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.99);
		box-shadow: 0 0 0 0 rgba(100, 188, 164, 0.7);
	}

	70% {
		transform: scale(1.05);
		box-shadow: 0 0 0 40px rgba(100, 188, 164, 0);
	}

	100% {
		transform: scale(0.99);
		box-shadow: 0 0 0 0 rgba(100, 188, 164, 0);
	}
}