@import './App-variables.css';

body {
  background-color:#161020;
  /* Primary font color */
  color: var(--primary-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}

.App {
  width: 476px;
  height: 681px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}